body {
    background-color: rgb(245, 245, 245);
}


.card {
    background-size: cover;
    margin-bottom: 50px;
}

.footer-copyright {
    margin-top: 10px;
    color: rgb(150, 150, 150);
}

.list-group {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h3{
    text-align: center;
}
h1{
    text-align: center;
}


/* map google*/
.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.card h5{
    margin-top: 20px;
}
.card {
    border-radius: 0px;
    border: 0px;
}
.card-body {
   padding: opx !important;
}

i {
    margin-right: 14px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.list-group {
    align-items: center!important;
}


.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.modal-open {
    line-height: 1 !important;
    font-size:  3rem !important;
    text-align: center !important;
}
.modal-open a{
    color: rgb(70, 70, 70) !important;
}
.modal-body {
    padding: 1rem 1rem 3rem 1rem !important;
}

.social a{
    color: dimgrey;
    font-size: smaller;
}